.card {
    display: flex;
    width: 55mm;
    height:80mm;
    position:relative;
    border: 0.2mm solid black;
    border-radius: 2mm;
    overflow: hidden;
    padding: 0 1mm;
    box-sizing: border-box;
    background-color: #eef;
    background-size: cover;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Alegreya", serif;
    align-items: baseline;
    align-content: flex-start;
    font-size:8pt;
}

.card input, .card textarea {
    max-width: 100%;
    font-family: "Alegreya", serif;
    font-size:8pt;
    resize: none;
    overflow: hidden;
}

.card section {
    width: 100%;
}

@media print {
    .card :invalid {
        display:none;
    }
}

.card input, .card textarea {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    width: 100%;
}

.card .card--name {
    margin-bottom: -2mm;
}

.card .card--name input {
    font-family: "Lycanthrope", fantasy;
    font-size:20pt;
}

.card .card--school {
    width: 50%;
}

.card .card--school input {
    font-weight: bold;
}

.card .card--save {
    width: 50%;
    align-self: flex-end;
}

.card .card--save input {
    text-align: right;
    font-weight: bold;
}

.card .card--subschool {
    width: 50%;
}

.card .card--descriptors {
    width: 50%;
}

.card .card--descriptors input {
}

.card .card--description {
    
}

.card.card-school-abjuration {
    box-shadow: inset 0 2mm 10mm 0 deepskyblue;
}

.card.card-school-conjuration {
    box-shadow: inset 0 2mm 10mm 0 #0a0;
}

.card.card-school-divination {
    box-shadow: inset 0 2mm 10mm 2mm #eef;
}

.card.card-school-enchantment {
    box-shadow: inset 0 2mm 10mm 0 deeppink;
}

.card.card-school-evocation {
    box-shadow: inset 0 2mm 10mm 0 #f00;
}

.card.card-school-illusion {
    box-shadow: inset 0 2mm 10mm 0 orange;
}

.card.card-school-necromancy {
    box-shadow: inset 0 2mm 10mm 0 darkred;
}

.card.card-school-transmutation {
    box-shadow: inset 0 2mm 10mm 0 purple;
}
