.cardList {
    width: 100%;
    margin:0;
    padding:0;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
}

.cardList li {
    display: block;
    margin: 5mm;
}

@media print {
  .cardList li {
    margin: 0;
    margin-left:1mm;
  }
}
