.card {
    display: flex;
    flex-direction: column;
    width: 2.5in;
    height: 3.5in;
    position:relative;
    padding: 2mm;
    box-sizing: border-box;
    font-family: "Alegreya", serif;
}

.card--background {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.card--school-color {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.card > header {
    position: relative;
    flex-grow:0;
    display: flex;
    align-items: stretch;
    height: 6mm;
    margin-bottom: 1mm;
}

.card .card--name {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.card .card--name input {
    color: white;
    text-shadow:
        -0.3mm -0.3mm 0 black,
        0.3mm -0.3mm 0 black,
        -0.3mm 0.3mm 0 black,
        0.3mm 0.3mm 0 black;
    width: 100%;
}

.card > header, .card .card--name input {
    font-family: "Lycanthrope", fantasy;
    font-size:13pt;
}

.card .card--save-icon {
    flex-grow: 0;
    display: flex;
    align-items: center;
}

.card[save] .card--save-icon::before {
    display: block;
    content: "";
    width: 3mm;
    height: 3mm;
    border-radius: 50%;
    border: solid #444 0.4mm;
    margin-left: 1mm;
}

.card[save~="fortitude" i] .card--save-icon::before {
    background-color: red;
}

.card[save~="reflex" i] .card--save-icon::before {
    background-color: rgb(44, 192, 44);
}

.card[save~="will" i] .card--save-icon::before {
    background-color: goldenrod;
}

.card--content {
    position: relative;;
    padding: 1mm;
    flex-grow:1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    background-color: white;
    border-radius:2mm;
    box-sizing: border-box;
}

.card--content, .card--content input, .card--content textarea {
    font-family: "Alegreya", serif;
    font-size:9pt;
    overflow: hidden;
}

.card--content section {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 100%;
    align-items: stretch;
}

.card--content > hr {
    border: none;
    height: 0.3mm;
    width: 100%;
    background-color: #666;
    margin: 0.5em 0;
}

.card--content .card--icon {
    flex-grow: 0;
    width: 1em;
    display: flex;
    align-items: center;
    margin-right: 0.25em;
}

.card--content .card--icon img {
    height: 1em;
}

.card input, .card textarea {
    flex-grow: 1;
    resize: none;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
}

.card .print-only {
    display: none;
}

@media print {
    .card :invalid {
        display:none;
    }
}

.card .card--school input {
    /* font-weight: bold; */
    font-style: italic;
    padding-left: 0em;
}

.card[school~="abjuration"] .card--school-color {
    background-color: rgba(0, 128, 192, 0.5);
}

.card[school~="conjuration"] .card--school-color {
    background-color: rgba(0, 128, 0, 0.5);
}

.card[school~="divination"] .card--school-color {
    background-color: rgba(128, 128, 160, 0.5);
}

.card[school~="enchantment"] .card--school-color {
    background-color: rgba(189, 63, 121, 0.568);
}

.card[school~="evocation"] .card--school-color {
    background-color: rgba(243, 113, 26, 0.623);
}

.card[school~="illusion"] .card--school-color {
    background-color: rgba(240, 202, 32, 0.644);
}

.card[school~="necromancy"] .card--school-color {
    background-color: rgba(8, 56, 10, 0.685);
}

.card[school~="transmutation"] .card--school-color {
    background-color: rgba(125, 40, 165, 0.5);
}

@media print {
    .card:not([save]) .card--save {
        display: none;
    }
}

.card .card--description {
    flex-grow: 1;
    align-items: stretch;
}

.card .card--description, .card .card--description textarea {
    font-size: 8pt;
}

.card footer {
    display: flex;
    flex-direction: row;
}

.card footer .card--source {
    flex-grow: 1;
}

.card .card--level {
    font-style: italic;
}

.card .card--level input {
    width: 1ch;
}