.cardList {
    width: 100%;
    margin:0;
    padding:0;
    list-style-type: none;
}

.cardList li {
  position: relative;
  display: block;
  float: left;
  margin: 2mm;
  page-break-inside: avoid;
  page-break-before: auto;
}

@media print {
  .cardList li {
    margin: 0;
  }
}
